* {
    box-sizing: border-box;
}

body,
html {
    background: #262626;
}

#gameBoard {
    display: flex;
    flex-direction: row;
    width: 884px;
    height: 442px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    transform: translateY(25%);
}

.room {
    position: relative;
    overflow: hidden;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    margin: -1px 0 0 -1px;
    background: white;
    border: 1px solid black;
}

.entity {
    position: absolute;
}

.main-character {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 40px;
    background-image: url('./assets/img/main-character.png');
    background-position-x: -173px;
    background-position-y: 0;
    background-size: 500px;
    transition: top 0.3s ease, left 0.3s ease;
}

.doppleganger {
    display: block;
    opacity: 0.8;
}

.entity.is-hidden {
    display: none;
}

.goal {
    width: 30px;
    height: 30px;
    background: #737dc1;
    border-radius: 30%;
}

.wall {
    opacity: 0.5;
    width: 100px;
    height: 20px;
}

.wall.rotated {
    width: 20px;
    height: 100px;
}

.wall-perspective {
    background: #f22c2c;
    opacity: 0.8;
    z-index: 100;
}

.wall-perspective:not(.rotated) {
    width: 115px;
    height: 30px;
    transform: perspective(10px) rotateX(-10deg);
}

.wall-perspective.rotated {
    width: 30px;
    height: 122px;
    transform: perspective(10px) rotateY(-10deg);
}
