* {
    box-sizing: border-box;
}

body,
html {
    background: #262626;
}

#gameBoard {
    display: flex;
    flex-direction: row;
    width: 884px;
    height: 442px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    transform: translateY(25%);
}

.room {
    position: relative;
    overflow: hidden;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    margin: -1px 0 0 -1px;
    background: white;
    border: 1px solid black;
}

.entity {
    position: absolute;
}

.main-character {
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: #f1ce2e;
    border-radius: 50%;
    transition: top 0.3s ease, left 0.3s ease;
    z-index: 100s;
}

.goal {
    width: 30px;
    height: 30px;
    background: #737dc1;
    border-radius: 30%;
}

.wall {
    background: #c31f1f;
    width: 100px;
    height: 20px;
}

.wall.rotated {
    width: 20px;
    height: 100px;
}
